# There are two channels for light: Upwelling and Downwelling. This section
# associates a shutter (1, 2 or 3) and a fibre with each channel. This
# information is required to ensure that the correct shutter (1, 2 or 3) is
# openend to record each spectrum. This section also includes information about
# the optical fibre used for each channel. This information is not used by the
# Piccolo, but it is saved in the meatadata (header) section of data (Pico)
# files.
#
# If the polarity of a shutter connection has been reversed the shutter will
# be open when it should be closed; and closed when it should be open. If this
# happens, try changing Reverse from false to true.

[channels]
  [[shutter_2]]
    direction = upwelling
    reverse = True # Is the polarity of the shutter connection reversed?
    fibreDiameter = 600 # micrometres
  [[shutter_1]]
    direction = downwelling
    reverse = True
    fibreDiameter = 400

# Some spectrometers have adjustable configuration options. For example, the
# Ocean Optics NIRQuest 512 spectrometer has a detector which is cooled (or
# heated) by a thermoelectric cooler. The temperature to which the detector will
# be cooled can be adjusted. A cooler temperature will reduce the electronic
# noise in the signal and increase the power consumption. The spectrometer's fan
# can also be turned on or off. These settings will be applied when the
# Piccolo's hardware is initialized. The settings will be applied only to the
# spectrometer with the given serial number.
[spectrometers]
#  [[__many__]]
#    detectorTemperature = float(default=None)
#    fan = boolean(default=None)

#  [[nano_simulator]]
#    serialNumber = "nano"
#    port = 8100

#  [[nano]]
#    ip = 'localhost'
#    port = 8100
#    ftpuser = 'ftpuser'
#   ftppass = 'ftpuser'
#    colBinning = 1
#    exposure = 5000
#   framePeriod = 10
#   gain = 0
#    gpioCaptureValue = 0
#    gpioEdge = 'both'
#    gpioFramesPerCube = 1000
#    gpioId = 0
#    gpioMaxCubes = 1
#    height = 274
#    left = 0
#    maxFramesPerCube = 640
#    top = 112
#    width = 640


  [[instrument_simulator_1]]
    serialNumber = "QEP00709"
    detectorTemperature = float(default=None)
    fan = boolean(default=None)
  [[instrument_simulator_2]]
    serialNumber = "FLMT01859"
    detectorTemperature = float(default=None)
    fan = boolean(default=None)

# AutoAdjustment of Integration Time
[NoAutoAdjust]
    [[FLMT01859]]
        saturationLevel = 32000
        percentSaturation   = 0.75
        integrationTimeIncrement = 100
        minIntegrationTime = 1000
        lowLevelLightThreshold = 200
    [[QEP00709]]
        saturationLevel = 200000
        percentSaturation   = 0.75
        integrationTimeIncrement = 50
        minIntegrationTime = 10
        lowLevelLightThreshold = 200
    [[FLMT01859_Simulator]]
        saturationLevel = 32000
        percentSaturation   = 0.75
        integrationTimeIncrement = 100
        minIntegrationTime = 1000
        lowLevelLightThreshold = 200
    [[QEP00709_Simulator]]
        saturationLevel = 200000
        percentSaturation   = 0.75
        integrationTimeIncrement = 50
        minIntegrationTime = 10
        lowLevelLightThreshold = 200

# Download Simplified Spectra
[SimplifySpectra]

# Process Radiance and Reflectance
[NoProcessing]

# Added support for optical cameras
#[cameras]
#    [[NoIR]]
#        serialNumber = rgb-camera-1
#   [[RGB]]
#       serialNumber = rgb-camera-2
[jsonrpc]
  rpcLogging = False
  rpcCompression = True
